body {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background-color: #E6D5B8;
}

.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #1B1A17;
	color: white;
	padding: 20px;
}

.brand {
	display: inline-block;
	transition: color 0.5s ease;
}

.judul {
	padding: 0;
	margin: 0;
	font-size: 32px;
}

.judul-kecil {
	font-size: 12px;
	padding-left: 50px;
	margin: -10px 10px 0px 0px;
}

.brand:hover,
a:hover {
	color: #F0A500;
}

.box ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.box ul li {
	display: inline-block;
}

.box ul li:first-child {
	margin-left: 0;
}

.box ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 16px;
	transition: color 0.5s ease;
	padding: 20px 15px;
}

.box ul li a:hover {
	color: #ffc107;
}

.section-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 50px 0px;
	height: 100%;
}

.judul-web {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 36px;
	margin: 0px;
	font-weight: bold;
}

.judul-web>span {
	margin-left: -8px;
}

.petunjuk {
	width: 500px;
	margin-top: -10px;
	border: 2px solid #000;
	border-radius: 15px;
	padding: 5px 20px;
}

.section-container>h3 {
	margin-top: 60px;
	font-size: 20px;
}


button {
	padding: 5px 34px;
	border-radius: 5px;
	border: 0px;
	background-color: #F0A500;
	color: black;
	font-weight: bold;
	transition: background-color 0.4s ease, padding 0.2s ease;
}


button:hover {
	cursor: pointer;
	color: #F0A500;
	background-color: #1B1A17;
	padding: 10px 37px;
}

.convert:hover {
	background-color: #285430;
}

.reset:hover {
	background-color: #1B1A17;
}

.reverse:hover {
	background-color: #820300;
}

.reverse:active, .reset:active, .convert:active {
	background-color: white;
	color: #1B1A17;
}


input[type=number] {
	background-color: white;
	padding: 5px 15px;
	border: 0px;
	border-radius: 5px;
	transition: outline-color 0.5s ease, padding 0.2s ease;
}

input[type=number]:focus {
	background-color: #F0EDCF;
	outline-width: 0px;
	padding: 5px 20px;
}

.form,
.result {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 5px 30px;
}


.field-button {
	margin-top: 10px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 5px 30px;
}


.section-form-container {
	width: 420px;
	margin-top: 30px;
	padding: 20px;
	border: 2px solid #000;
	background-color: #E45826;
	border: 0px;
	border-radius: 20px;
	font-weight: bold;
	transition: padding 0.2s ease;
}

.section-form-container:hover {
	padding: 25px;
}


img {
	mix-blend-mode: multiply;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	padding-top: 20px;
	display: none;
	position: absolute;
	background-color: #1B1A17;
	min-width: 200px;
	z-index: 1;
	animation: fadeInDropdown 0.5s ease;
}


.dropdown-content a {
	color: white;
	padding: 10px 0px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #E45826;
}

@keyframes fadeInDropdown {
	from {
		opacity: 0;
		transform: translateY(-5px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.dropdown:hover .dropdown-content {
	display: block;
}

.box ul li.dropdown:hover .dropbtn {
	color: #F0A500;
}